<div class="column is-full-mobile
        is-half-tablet
        is-one-third-desktop
        is-one-quarter-widescreen
        is-one-quarter-fullhd box">

    <a class="is-flex is-flex-direction-column" href="<%= item.link %>">
        <img src="/images/<%= item.image%>" class="card-image mb-3">
        <div class="" style="flex:1"></div>
        <footer class="card-footer is-block" style="min-height:5rem">
            <h1 class="title"><%= item.name %></h1>
            <h2 class="subtitle"><%= item.description %></h2>
        </footer>
    </a>
</div>